<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.RestaurantMapper">
	<select id="findInBounds" resultType="dto.RestListDTO">
		SELECT *
		FROM restaurant rt
		LEFT JOIN (
		    SELECT restNo, reviewTitle, reviewContent
			    FROM (
			        SELECT r1.restNo, r1.reviewTitle, r1.reviewContent,
			               ROW_NUMBER() OVER (PARTITION BY r1.restNo ORDER BY r1.reviewNo DESC) AS rn
			        FROM review r1
			    ) t
			    WHERE t.rn = 1
			) rv
			ON rt.restNo = rv.restNo
			WHERE rt.latitude BETWEEN #{swLat} AND #{neLat}
			  AND rt.longitude BETWEEN #{swLng} AND #{neLng}
	</select>
	
	<insert id="insertRestuarant" parameterType="restaurantVO">
    	<selectKey keyProperty="restNo" order="BEFORE" resultType="int">
        	SELECT restaurant_seq.NEXTVAL FROM dual
    	</selectKey>
    	insert into restaurant values (#{restNo}, #{restName}, #{address}, #{longitude}, #{latitude})
	</insert>
	
	<select id="findRestaurantByNo" resultType="restaurantVO">
		SELECT restNo, restName, address, longitude, latitude
	    FROM restaurant
	    WHERE restNo = #{restNo}
	</select>
	
	<select id="findRestNoByNameAndAddress" resultType="int">
		SELECT restNo
		FROM restaurant
		WHERE restName = #{restName} AND address = #{address}
	</select>
</mapper>