<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.ReviewImgMapper">
	<insert id="insertReviewImg" parameterType="reviewImageVO">
    	<selectKey keyProperty="reviewImgNo" order="BEFORE" resultType="int">
        	SELECT reviewimage_seq.NEXTVAL FROM dual
    	</selectKey>
    	insert into reviewImage values (#{reviewImgNo}, #{reviewImgUrl}, #{reviewNo})
	</insert>
</mapper>