<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.ReviewMapper">
	<insert id="insertReview" parameterType="reviewVO">
    	<selectKey keyProperty="reviewNo" order="BEFORE" resultType="int">
        	SELECT review_seq.NEXTVAL FROM dual
    	</selectKey>
    	insert into review values (#{reviewNo}, #{reviewTitle}, #{reviewContent}, #{memberNo}, #{restNo}, #{createDate})
	</insert>
	
	<select id="findReviewsByRestNo" resultType="dto.ReviewDTO">
	    SELECT 
	        rv.reviewNo,
	        rv.reviewTitle,
	        rv.reviewContent,
	        rv.createDate,
	        rv.memberNo,
	        m.memberName,
	        m.memberId,
	        m.country,
	        rv.restNo,
	        ri.reviewImgUrl
	    FROM review rv
	    JOIN member m ON rv.memberNo = m.memberNo
	    LEFT JOIN reviewImage ri ON rv.reviewNo = ri.reviewNo
	    WHERE rv.restNo = #{restNo}
	</select>
</mapper>