<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.TradeMapper">
    
    <!-- 게시글 등록 -->
    <insert id="insertTradePost" parameterType="domain.TradeVO">
    	<selectKey keyProperty="tradePostNo" resultType="int" order="BEFORE">
    		SELECT tradePost_seq.NEXTVAL from dual
    	</selectKey>
    	INSERT INTO tradePost 
    		(tradePostNo, tradeTitle, tradeContent, cost, status, memberNo, createDate) 
    	VALUES 
    		(#{tradePostNo}, #{tradeTitle}, #{tradeContent}, #{cost}, #{status}, #{memberNo}, SYSDATE)
    </insert>
    
    <!-- 게시글 수정 -->
    <update id="updateTradePost" parameterType="domain.TradeVO">
    	UPDATE tradePost
    	SET tradeTitle = #{tradeTitle},
    		cost = #{cost},
    		tradeContent = #{tradeContent},
    		createDate = SYSDATE
    	WHERE tradePostNo = #{tradePostNo}
    </update>
    
    <!-- 게시글 삭제 -->
    <delete id="deleteTradePost" parameterType="int">
    	DELETE FROM tradePost WHERE tradePostNo = #{tradePostNo} AND status = 'AVAILABLE'
    </delete>
    
    <!-- 메인페이지 출력용 -->
    <select id="getTradeList" resultType="domain.TradeVO">
    	SELECT 
    		ROW_NUMBER() OVER (ORDER BY tp.tradePostNo ASC) AS rn,
    		tp.tradePostNo,
    		tp.tradeTitle,
    		tp.cost,
    		tp.status,
    		tp.createDate,
    		m.memberName,
    		(SELECT ti.tradeImgUrl 
    		FROM tradeImage ti 
    		WHERE ti.tradePostNo = tp.tradePostNo AND ROWNUM = 1) AS thumbnailUrl 
    	FROM tradePost tp 
    	JOIN member m ON tp.memberNo = m.memberNo
    	ORDER BY tp.tradePostNo DESC
    </select>
    
    <!-- 게시글 페이징 용 -->
    <select id="selectPagedPosts" resultType="domain.TradeVO">
		SELECT *
		FROM (
			SELECT 
				tp.tradePostNo,
				tp.tradeTitle,
				tp.memberNo,
				m.memberName,
				tp.cost,
				tp.status,
				tp.createDate,
				(SELECT ti.tradeImgUrl 
					FROM tradeImage ti 
					WHERE ti.tradePostNo = tp.tradePostNo AND ROWNUM = 1) AS thumbnailUrl,
				COUNT(*) OVER () AS totalCount,
				ROW_NUMBER() OVER (ORDER BY tp.tradePostNo DESC) AS rn
			FROM tradePost tp
			JOIN member m ON tp.memberNo = m.memberNo
			)
		WHERE rn BETWEEN #{startRow} AND #{endRow}
		ORDER BY rn ASC
	</select>
	
	<!-- 검색용 출력 -->
	<select id="selectPagedPostsByKeyword" resultType="domain.TradeVO">
		SELECT * 
		FROM (
			SELECT
				tp.tradePostNo,
				tp.tradeTitle,
				tp.memberNo,
				m.memberName,
				tp.cost,
				tp.status,
				tp.createDate,
				(SELECT ti.tradeImgUrl 
					FROM tradeImage ti 
					WHERE ti.tradePostNo = tp.tradePostNo AND ROWNUM = 1) AS thumbnailUrl,
				COUNT(*) OVER () AS totalCount,
				ROW_NUMBER() OVER (ORDER BY tp.tradePostNo DESC) AS rn
			FROM tradePost tp
			JOIN member m ON tp.memberNo = m.memberNo
			<where>
				<if test="keyword != null and keyword != ''">
					<choose>
						<when test="type == 'title'">
							tp.tradeTitle LIKE '%' || #{keyword} || '%'
						</when>
						<when test="type == 'content'">
							tp.tradeContent LIKE '%' || #{keyword} || '%'
						</when>
						<when test="type == 'member'">
							m.memberName LIKE '%' || #{keyword} || '%'
						</when>
					</choose>
				</if>
			</where>
		)
		WHERE rn BETWEEN #{startRow} AND #{endRow}
		ORDER BY rn DESC
	</select>
	
	<!-- 검색된 글 출력 -->
	<select id="countPostsByKeyword" resultType="int">
		SELECT COUNT(*) 
		FROM tradePost tp 
		JOIN member m ON tp.memberNo = m.memberNo
		<where>
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="type == 'title'">
						tp.tradeTitle LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'content'">
						tp.tradeContent LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'member'">
						m.memberName LIKE '%' || #{keyword} || '%'
					</when>
				</choose>
			</if>
		</where>
	</select>
    
    <!-- 전체 글 개수 -->
	<select id="countPosts" resultType="int">
    	SELECT COUNT(*) FROM tradePost
  	</select>
    
    <!-- 상세 페이지 출력용 -->
    <select id="getTradeDetail" resultType="domain.TradeVO" parameterType="int">
    	SELECT 
    		tp.tradePostNo,
    		tp.tradeTitle,
    		tp.tradeContent,
    		tp.cost,
    		tp.status,
    		tp.memberNo,
    		tp.createDate,
    		m.memberName,
    		(SELECT ti.tradeImgUrl 
    		FROM tradeImage ti 
    		WHERE ti.tradePostNo = tp.tradePostNo AND ROWNUM = 1) AS thumbnailUrl
    	FROM tradePost tp 
    	JOIN member m ON tp.memberNo = m.memberNo
    	WHERE tp.tradePostNo = #{tradePostNo}
    </select>
    
    <!-- 거래희망 버튼용 (AVAILABLE to TRADING) -->
    <update id="updateStatus">
    	UPDATE tradePost 
    	SET status = #{status} 
    	WHERE tradePostNo = #{tradePostNo}
    </update>
    

</mapper>