@charset "UTF-8";
* {
	padding: 0;
}


.myPageContent {
	height: 100%;
}

div.top.first {
	border: 1px solid red;
}

ul.basic {
	list-style: none;
	border: 1px solid pink;
	display: flex;
}

div.top.second {
	border: 1px solid blue;
}

div.top.second ul.posts {
	list-style: none;
	display: flex;
	
}

/*리스트 크기 조정용*/
li.no, li.check {
	width: 10%;
}
li.date, li.status {
	width: 15%;
}
li.title {
	width: 50%;
}
/*status 관련*/
li.status.green div,
li.status.black div,
li.status.gray div {
    width: 80%;
    height: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
	color: #ffffff;
    border-radius: 5px;
}
li.status.green div {
	background: green;
}
li.status.gray div {
	background: #b4b4b4;
}
li.status.black div {
	background: #000000;
	font-size: 13px;
}