@charset "UTF-8";

body {
	margin: 0;
	font-family: 'Segoe UI', sans-serif;
	background-color: #eaeaea; /* 회색 배경 */
}

/* 중앙 콘텐츠 영역 */
.wrapper {
	width: 800px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: auto;
	min-height: 100vh;
}

/* 네비게이션 바 */
.navbar {
	font-family: 'Segoe UI', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
}

.navbar-left {
	font-size: 22px;
	font-weight: bold;
}

.navbar-left a {
	text-decoration: none;
	color: #000000;
}

.navbar-center a {
	margin: 0 15px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: bold;
}

.navbar-right a {
	margin-left: 15px;
	font-size: 14px;
	text-decoration: none;
	color: gray;
}

/* 환영 메시지 */
.banner {
	background-color: #e0e0e0;
	text-align: center;
	padding: 40px 0;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Segoe UI', sans-serif;
}

/* 이미지 영역 */
.main-image {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.main-image img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

/* ================================  memberone  =================================== */

/* 로그인박스 디자인 */
.login-table {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #d9d9d9; /* 박스 테두리 색상 */
  border-radius: 15px;   /* 박스 테두리 곡선 */
  border-collapse: separate; /* collapse 대신 separate */
  border-spacing: 0;         /* 셀 간격 제거 */
  overflow: hidden;
}


/* 테이블 카드형 스타일 */
.reg-table {
  width: 400px;
  margin: 0 auto 50px auto;
  border: 2px solid #d9d9d9; /* 테두리 색상 */
  border-radius: 15px;       /*  둥근 테두리 */
  border-collapse: none; /*  collapse  대신 separate */
  border-spacing: 0;           /* 셀 간격 제거 */
  overflow: hidden;
  background-color: #fff;
} */



.reg-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 20px 0; /* 위아래 여백 */
}

/* 셀 안쪽 여백 */
.reg-table td {
  padding: 12px 15px;
  border-bottom: 1px; /* 각 셀 구분선 */
}

/* 왼쪽 라벨만 적용 */
.reg-table td.label {
  text-align: center;      /* 수평 정렬 */
  vertical-align: middle; /* 수직 가운데 정렬 */
  padding: 12px 15px;
   border:  none;
  
}


.reg-table tr:last-child td {
  border-bottom: none; /* 마지막 셀은 선 제거 */
}

/* 입력 박스 */
.reg-input {
  width: 70%;
  height: 35px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 버튼 */
.reg-btn {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: #d9d9d9;
  color: #000000;
  cursor: pointer;
}

/* 중복확인 버튼 */
.reg-checkbtn {
  width: 60px;
  height: 25px;
  font-size: 12px;
  text-align: center;      /* 수평 정렬 */
  border-radius: 5px;
  border: none;
  background-color: #d9d9d9;
}

.reg-btn:hover {
  background-color: #000000;
}

/* ================================  memberone  =================================== */

