@charset "UTF-8";
div.tr-list {
	margin: 30px auto;
	width: 680px;
	display: grid;
	grid-template-rows: repeat(2, auto);
	column-gap: 40px;
	grid-template-columns: repeat(3, 200px);
	row-gap: 30px;
}

/* p.nopost 글 없을 경우 뜨는 메시지*/
p.nopost {
	padding: 20px 0;
	text-align: center;
	color: #555555;
	font-weight: 500;
}

/* div.search */
div.search {
	width: fit-content;
	margin: 0 auto;
	padding-top: 30px;
}

div.search form {
	border: 1px solid #bbbbbb;
	padding: 10px;
	border-radius: 30px;
}

div.search select {
	width: 80px;
}

div.search input.check {
	background: #ffffff;
	cursor: pointer;
	padding: 3px;
}

/* div.thumb */
div.thumb {
	cursor: pointer;
	position: relative;
	border-radius: 9px;
	box-shadow: 0 0 2px #dddddd;
	transition: transform 0.2s ease;
}

div.thumb:hover {
	transform: scale(1.02);
	box-shadow: 0 0 4px #dddddd;
}

/* thumbTop */
div.thumb div.thumbTop {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 7px;
	padding: 0 6px;
}

div.thumb div.thumbTop p {
	width: 20px;
	text-align: center;
	text-shadow:
			1px 1px 0 #ffffff,
			-1px 1px 0 #ffffff,
			1px -1px 0 #ffffff,
			-1px -1px 0 #ffffff;
	font-weight: 600;
}

div.thumb div.thumbTop div.status {
	font-size: 15px;
	font-weight: 600;
	padding: 2px 5px;
	color: #ffffff;
	border-radius: 3px;
}

div.thumb div.thumbTop div.green {
	background: green;
}

div.thumb div.thumbTop div.gray {
	background: #b4b4b4;
}

div.thumb div.thumbTop div.black {
	background: #000000;
}

div.imgBox {
	width: 100%;
	height: 150px;
	border: 1px solid #dddddd;
	border-radius: 10px;
	box-shadow: 0 0 #000000;
	overflow: hidden;
}

div.imgBox img {
	width: 100%;
	height: 100%;
}

/* thumbBottom */
div.thumb div.thumbBottom {
	display: flex;
	flex-direction: column;
	padding: 3px 10px;
	gap: 7px;
}

div.thumbBottom div.tbBox {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

div.thumbBottom p.title {
	font-size: 20px;
	font-weight: 600;
	/* 제목 길어질 경우 ... 처리 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 180px;
}

div.thumb ul {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

div.thumb ul li {
	list-style: none;
}

div.thumb div.thumbBottom li.cost {
	font-size: 18px;
}

div.thumb div.thumbBottom li.cost::after {
	content: "¥";
	color: #ff0000;
	font-size: 15px;
	margin-left: 5px;
	vertical-align: bottom;
}

div.thumb div.thumbBottom p.date {
	font-size: 14px;
	color: #b4b4b4;
}

/* div.pagination */
div.pagination {
	width: fit-content;
	margin: 0 auto;
	padding-bottom: 30px;
}

div.pagination a {	
	color: #000000;
}

div.pagination a.fl,
div.pagination a.prev,
div.pagination a.next,
div.pagination a.num,
div.pagination span.num {
	border: 1px solid #d7d7d7;
	padding: 3px 10px;
}

div.pagination a.fl:hover,
div.pagination a.prev:hover,
div.pagination a.next:hover,
div.pagination a.num:hover {
	background: #dedede;	
}

div.pagination span.current {
	background: #dedede;	
	font-weight: 600;
}